{
  "env" : {
    "production": {
      "presets": ["es2015", "react", "stage-1"]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "styled-jsx": {
              "optimizeForSpeed": false,
              "plugins": [
                [
                  "styled-jsx-plugin-sass",
                  {
                    "sassOptions": {
                      "includePaths": [
                        "./components/styles/"
                      ],
                      "precision": 8
                    }
                  }
                ]
              ]
            }
          }
        ]
      ]
    }
  }
}
